.logo img{
    border-radius: 14px;
    margin:10px 0px 5px 10px;
    width: 60px;
    bottom:40px;
    float :left;
    color:#e5eeee;
}
.menu-bar {
    text-align: center;
    background-color: black;
    margin-bottom: 40px;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 150px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover {
    background-color: grey;
    border-radius: 3px;
    margin:0px 5px 0px
}

.menu-bar .fa {
    margin-right: 10px;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 12px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 180px;
    padding: 12px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: black;
}

.fa-location-dot {
    float: right;
}
.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: 15px;
    margin-left: -15px;
    background: black;
}
.menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 12px;
}

.menu-bar ul li:hover .sub-menu-2 ul li {
    width: 180px;
    padding: 12px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-2 ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover {
    color: black;
}
.card3 {
    margin-bottom: 40px;
    background-color:gray;
    border-radius: 20px;
    transition: 0.2s;
}
.card3:hover {
    width: 100%;
    transform: scale(1.025);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
}
.shado {
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border-radius: 30px;
}
.image1{
    border-radius: 20px;
    margin-right: 30px;
}
.star{
    padding: 20px;
    margin-bottom: 10px;
}
.image2{
    border-radius: 20px;
    margin-right: 30px;
}
.star{
    padding: 20px;
    margin-bottom: 10px;
}
.image3{
    border: radius 20px;
    margin-right: 30px; 
}
.star{
    padding:20px;
    margin-bottom:10px ;
    font-size: large;
}
.button{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 250px;
    width: 50px;
    }
.fill{
    color: orange;
}